body {
  background-image: url("/foto_fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Garante que o fundo cubra toda a tela */
  background-attachment: fixed; /* Fixa o fundo na tela */
}

html, body {
  height: 100%; /* Garante que ocupe 100% da altura da tela */
}

.tudo {
  background-color: rgba(255, 255, 255, 0.09);
  max-width: 600px; /* Limitar a largura do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo */
  border-radius: 1%;
  padding: 0 2rem 1rem 2rem;
}



h1 {
  text-align: center;
  margin-top: 27rem;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 30px;
}

h5 {
  text-align: center;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.conjunto_senha {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
  margin-top: 3rem;
  gap: 0.4rem;
  
}

.senha {
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
  align-items: flex-start;
  padding: 2px;
}

.entrar{
  font-size: 14px;
  padding: 5.4px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: black;
  font-size: 15px;
}

button {
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border: 1px solid black;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("/foto_fundo_dois.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Garante que cubra toda a tela */
    background-attachment: fixed; /* Evita cortes inesperados */
  }

  h5 {
    text-align: center;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.7);
  }
}
